$base-font-a: 'Roboto', sans-serif;
$base-font-b: 'Open Sans', sans-serif;
$base-font-c: 'Segoe Print Regular';
$base-color: #fff;
$base-font-size: 16px;
$base-width-container: 1024px;

*{
	margin: 0;
	padding: 0;
}
body{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
	width: $base-width-container;
	margin: 0 auto;
}
img{
	max-width: 100%;
}
a{
	display: block;
	text-decoration: none;
	color: $base-color;
	font-family:$base-font-a; 
	padding: 20px 0 20px 0; 

}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap; 
}
li{	
    text-align: center;
}
li a:hover {
	box-shadow: 0 0 3px 1px;
	width: 80px;
	font-size:18px;
	background-color: #555;
    color: white;
}

.header-navigation{
	background-color: #191919;
	width:100%;
	position: fixed;
	top:0;
	z-index: 1000;
}

.up{
	margin-right: 200px;
}


.logo-slogan-background{
	background: url('../img/hannu-pekka-peuranen-1301.jpg') no-repeat center / cover ;
	width: 100%;
	height: 100%;
}

.logo-f {
	display: flex;
	padding-top: 18%;
	background-color: rgba(250, 250, 250, 0.1);
}
.slogan{
  	font-size: 65px;
  	font-family: $base-font-a;
  	color: rgba(222, 236, 232, 0.7);
	text-shadow: #383b3a 2px 3px 4px;
  	line-height: 1.2;
  	text-align: center;
  	z-index: 15;
  	padding-top: 18%;
  	padding-bottom: 80px;
}

.about{
	background-color: #000;
	width:100%;
	height:100%;
}

.about-btn{
	text-align: center;
	padding-top: 90px;
}
button.btn-style{
	height: 40px;
	width: 210px;
	border-radius:5px;
	font-family: $base-font-b;
	text-transform: uppercase;
	font-weight: 600;
	font-size:14px;
	border: 2px solid green;
	/*background: #00FFA9;*/

	background: -moz-linear-gradient(#00FFA9, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00FFA9), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFA9', endColorstr='#EBFFFF');
}
.btn-style:active{
	color: green;
	border: 2px solid #4C4C4C;
}

.about-blok{
	margin-top: 45px;
	padding-bottom: 60px;

}
.about-text{
	color: #A0AAA7;
	font-family: $base-font-c;
	font-size: 16px;
	letter-spacing: 0.1ex;
	text-align:center;
	padding:18px ;
}


.audio-content{
	background: url(../img/Audio.png) no-repeat center / cover;
	width:100%;
	height:100%;
}
.audio-header{
	font-family: $base-font-a;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.6ex;
	color: #DADADA;
	text-align: center;
	padding-top: 140px;
	margin-bottom:100px;

}
.audio-content-blok{
	display: flex;
	justify-content: space-around;
	/*margin-top:70px;*/
	padding-bottom: 180px;
	color: #DADADA;
	margin-bottom: -2px;
}
audio{
	width: 360px;
}
.player{
	margin-bottom: 22px;
}
.description{
	padding-bottom:5px;
}






.slider-background{
	background: black;
	width:100%;
	height: 100%;
}

.image-header{
	color: #fff;
	font-family: $base-font-a;
	font-size: 28px;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 190px;
}


 /*  СТИЛИ СЛАЙДЕРА 2  */
#block-for-slider {
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    /*margin-top: 40px;*/
    padding-bottom: 180px;
    margin-bottom:0px;
}
#viewport {
    width: 100%;

    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}
#slidewrapper {
    position: relative;
    width: calc(100% * 5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}
#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}
.slide {
    width: calc(100%/5);
    list-style: none;
    display: inline;
    float: left;
}
#prev-btn, #next-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}
#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}
#prev-btn {
    left: 20px;
}
#next-btn {
    right: 20px;
}
#nav-btns {
    position: absolute;
    width: 15%;
    bottom: 20px;
    padding-left: 40%;
    margin: 0;
    text-align: center;
}
.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    margin: 3px;
}
.slide-nav-btn:hover {
    cursor: pointer;
}


.price-background{
	background: url(../img/microfon.png) no-repeat center / cover;
width:100%;
height:100%;
}
.price-title{
	font-family: $base-font-a;
	font-size: 25px;
	color: #fff;
	text-align:center;
	padding: 80px 0 80px 0;
}
.price-mix-track{
	font-family: $base-font-a;
	font-size: 20px;
	padding: 0px 0 20px 10px;
	color: #fff
}
.price-mix-track-left{
	font-family: $base-font-b;
	line-height: 1.6;
	letter-spacing: 1.6px;
	font-size: 14px;
	padding: 0px 0 20px 10px;
	color: #fff
}
.price-item-center{
	font-family: $base-font-a;
	font-size: 20px;
	padding: 40px 0 20px 300px;
	color: #fff
}
.price-center{
	font-family: $base-font-b;
	line-height: 1.6;
	letter-spacing: 1.6px;
	font-size: 14px;
	padding: 0px 0 40px 320px;
	color: #fff
}
.price-production-inst{
	font-family: $base-font-a;
	font-size: 20px;
	padding: 20px 0 20px 20px;
	color: #fff
}
.price-production-inst-i{
	font-family: $base-font-b;
	font-size: 15px;
	padding: 0 0 40px 0;
	color: #fff
}
.price-production-min{
	font-family: $base-font-a;
	font-size: 20px;
	padding: 40px 0 50px 380px;
	color: #fff
}
.price-production-min-i{
	font-family: $base-font-b;
	font-size: 15px;
	color: #fff
}
.price-mastering{
	font-family: $base-font-a;
	font-size: 20px;
	text-align: center;
	color: #fff
}
.price-mastering-i{
	font-family: $base-font-b;
	font-size: 15px;
	color: #fff
}
.sub-text{
	font-family: $base-font-a;
	font-size: 20px;
	text-align: center;
	color: #fff;
	padding: 50px;
	letter-spacing: 1.8px;
	line-height: 1.9;
}
.price-btn{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
}


.block-news-background{
	background: url('../img/scena.png') no-repeat center / cover;
}
.block-news-title{
	font-family: $base-font-b;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #fff;
}
.block-news{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 100px;
}
.block-news-left, .block-news-right{
	width: 470px;
	height: 440px;
	
	background-color: rgba(250, 250, 250, 0.1);
	text-align: center; 
}
.block-news-text{
	font-family: $base-font-a;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
}


.contact-background{
	background: url('../img/bass_background.png') no-repeat center / cover;
}

.contact-block{
	display: flex;
}

.contact-block-left{
	width: 510px;
}
.contact-time{
	font-family: $base-font-b;
	text-align: center;
	font-size: 26px;
	font-weight:800;
	line-height: 1.8;
	letter-spacing: 2px;
	padding-top:80px;
}
.all-day{
	font-family: $base-font-b;
	text-align: center;
	font-size: 24px;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 2px;
	padding-top:80px;
}


.contact-contact-title{
	font-family: $base-font-b;
	font-size: 26px;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 2px;
	padding-top:80px;
	padding-left: 10px;
	padding-bottom: 20px	
}
.contact-contact{
	padding-left: 50px;
}
.contact-connect{
	font-family: $base-font-b;
	font-size: 18px;
	font-weight:800;
	line-height: 2.0;
	letter-spacing: 2px;
	padding-left:10px;
}
a.vk{
	margin: 0;
	padding:0;
	color: black;
}
a.vk:hover{
	color:#373833;
}
.contact-icon{
	position: relative;
	bottom: 109px;
	left: 75%;
}
.email, .vk-i, .skape{
	display: flex;
	justify-content: column;
	padding: 2% 0px 0px 0px;
	width:100px;
}


.contact-block-right{
	width: 510px;
}
.address-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 26px;
	font-weight:800;
	line-height: 2.0;
	letter-spacing: 2px;
	padding-top:100px;
	padding-bottom:20px;
}
.address{
	font-family: $base-font-b;
	font-size: 20px;
	font-weight:800;
	line-height: 1.6;
	letter-spacing: 8px;
	padding-left: 100px;
	padding-bottom: 80px;
}
.map{
	text-align: center;
}

.btn-sub{
	text-align:center;
	padding-top: 40px;
	padding-bottom:40px;
}

.futer-background{
	background-color: #000;
	width:100%;
}
.futer{
	text-align: center;
	font-size: 11px;
	color: #999082;
	padding-top: 50px;
	padding-bottom: 50px;
}







@media screen and (min-width:620px) and (max-width:1024px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops */

  .container{
  	width: 96%;
  }
  .up{
  	margin-right: 20%;
  }
  .slogan{
  	font-size: 38px;
  	padding-top:80px;
  }
  .about-btn{
  	padding-top:0px;
  }
  .audio-header{
  	padding-top: 110px;
	margin-bottom:65px;
  }
  audio {
    width: 94%;
  }
  .audio-content-blok{
	padding-bottom: 100px;
	margin-bottom: -2px;
  }
  .description{
		font-size: 2vw;
  }


#block-for-slider {
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    /*margin-top: 40px;*/
    padding-bottom: 120px;
    margin-bottom:0px;
}

  #prev-btn, #next-btn {
    width: 4%;
    height: 10%;
  }
  .slide-nav-btn {
    width: 11%;
    height: 12px;
  }
  .image-header{
	font-size: 28px;
	padding-top: 80px;
	padding-bottom: 30px;
  }

.price-item-center{
	padding-left: 17%;
}
.price-center{
	padding-left: 15%;
}
.price-production-min{
	padding-left: 6%;
  }
.price-btn{
	padding-top: 0px;
	padding-bottom: 30px;
}
  .block-news-title{
	font-size: 26px;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 40px;
  }
  .block-news{
	padding-bottom: 80px;
  }
  .block-news-left, .block-news-right{
	width: 36vw;
	height: 42vw; 
  }
  .block-news-text{
	font-size: 2vw;
	padding-top: 20px;
	padding-bottom: 40px;
  }
  .block-news-left img {
  	width: 30vw;
  	height: 20vw;
  }
  .block-news-right img{
  	width: 30vw;
  	height: 22vw;
  }


  .contact-block{
	display: flex;
}

.contact-block-left{
	width: 50%;
}
.contact-time{
	font-family: $base-font-b;
	text-align: center;
	font-size: 3.4vw;
	font-weight:600;
	line-height: 1.2;
	letter-spacing: 1.0px;
	padding-top:60px;
}
.all-day{
	font-family: $base-font-b;
	text-align: center;
	font-size: 2.6vw;
	font-weight:800;
	line-height: 1.2;
	letter-spacing: 2px;
	padding-top:60px;
}


.contact-contact-title{
	font-family: $base-font-b;
	font-size: 2.8vw;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 2px;
	padding-top:60px;
	padding-left: 5%;
	padding-bottom: 15px	
}
.contact-contact{
	padding-left: 2%;
}
.contact-connect{
	font-family: $base-font-b;
	font-size: 2.4vw;
	font-weight:800;
	line-height: 1.5;
	letter-spacing: 2px;
	padding-left:10px;
}
a.vk{
	margin: 0;
	padding:0;
	color: black;
}
a.vk:hover{
	color:#373833;
}
.contact-icon{
	position: relative;
	bottom: 15.3%;
	left: 90%;
}
.email, .vk-i, .skape{
	display: flex;
	justify-content: column;
	padding: 2% 0px 0px 0px;
}


.contact-block-right{
	width: 50%;
}
.address-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 3vw;
	font-weight:800;
	line-height: 2.0;
	letter-spacing: 0px;
	padding-top:80px;
	padding-bottom:20px;
}
.address{
	font-family: $base-font-b;
	font-size: 2.2vw;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 7px;
	padding-left: 12%;
	padding-bottom: 30px;
}
iframe{
	max-width:96%;
}
.map{
	text-align: center;
  }
}

@media screen and (max-width:880px) {
	.contact-icon{
		display: none;
	}
}

@media screen and (min-width:480px) and (max-width:620px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops */

  .container{
  	width: 92%;
  }
  .up{
  	margin-right: 1%;
  }
  .logo{
	width: 50vw;
  }
  .slogan{
  	font-size: 5vw;
  	padding-top: 14%;
  	padding-bottom: 0px;
}


  .about-btn{
  	padding-top:70px;
  }
  .about-blok{
	margin-top: 40px;
	margin-bottom: 0px;
  }
  .audio-header{
  	padding-top: 70px;
  }
  .audio-content-blok{
	margin-top:40px;
	margin-bottom: -2px;
	}
	audio{
		width: 94%;
	}
	.player{
		margin-bottom: 22px;
	}
	.description{
		font-size: 2vw;
	}
	#prev-btn, #next-btn {
    width: 4%;
    height: 10%;
  }
  .slide-nav-btn {
    width: 8%;
    height: 7px;
  }
  .image-header{
	font-size: 28px;
	padding-top: 70px;
	padding-bottom: 80px;
  }

  .price-title{
	padding: 60px 0 60px 0;
}
.price-item-center{
	padding-left: 20px;
}
.price-center{
	padding-left: 15%;
}
.price-production-min{
	padding-left: 6%;
}
  .block-news-title{
  	font-size: 4vw;
  	padding-top: 6%;
  	padding-bottom: 6%;
  }
  .block-news-left, .block-news-right{
	width: 36vw;
	height: 42vw; 
  }
  .block-news-text{
	font-size: 2vw;
	padding-top: 10%;
	padding-bottom: 10%;
  }
  .block-news-left img {
  	width: 30vw;
  	height: 20vw;
  }
  .block-news-right img{
  	width: 30vw;
  	height: 22vw;
  }
  .block-news{
	padding-bottom: 10%;
  }



  .contact-block{
	display: flex;
}

.contact-block-left{
	width: 50%;
}
.contact-time{
	font-family: $base-font-b;
	text-align: center;
	font-size: 3.4vw;
	font-weight:600;
	line-height: 1.2;
	letter-spacing: 1.0px;
	padding-top:60px;
}
.all-day{
	font-family: $base-font-b;
	text-align: center;
	font-size: 2.6vw;
	font-weight:800;
	line-height: 1.2;
	letter-spacing: 2px;
	padding-top:60px;
}


.contact-contact-title{
	font-family: $base-font-b;
	font-size: 2.8vw;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 2px;
	padding-top:60px;
	padding-left: 5%;
	padding-bottom: 15px	
}
.contact-contact{
	padding-left: 2%;
}
.contact-connect{
	font-family: $base-font-b;
	font-size: 2.4vw;
	font-weight:800;
	line-height: 1.5;
	letter-spacing: 2px;
	padding-left:10px;
}
a.vk{
	margin: 0;
	padding:0;
	color: black;
}
a.vk:hover{
	color:#373833;
}
.contact-icon{
	position: relative;
	bottom: 15.3%;
	left: 90%;
}
.email, .vk-i, .skape{
	display: flex;
	justify-content: column;
	padding: 2% 0px 0px 0px;
}


.contact-block-right{
	width: 50%;
}
.address-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 3vw;
	font-weight:800;
	line-height: 2.0;
	letter-spacing: 0px;
	padding-top:80px;
	padding-bottom:20px;
}
.address{
	font-family: $base-font-b;
	font-size: 2.2vw;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 7px;
	padding-left: 12%;
	padding-bottom: 30px;
}
iframe{
	max-width:96%;
  }
}


@media screen and (min-width:340px) and (max-width:480px) {
	.container{
  	width: 96%;
  }
  .up{
  	display: none;
  }
   li a:hover{
   	padding-right: 5px;
	border: 1px solid #fff;
  }
	li.contact a{
		border-right: none;
	}
	a{
		font-size: 13px;
	}
	.logo{
	width: 60vw;
	margin-top: 40px;
  }
  .slogan{
  	font-size: 4vw;
  	margin-top: 20px;
  }
  .about-btn{
	padding-top: 0px;
  }
  .about-blok{
	margin-top: 24px;
	margin-bottom: 0px;
  }
  .about-text{
	font-size: 14px;
	padding:12px ;
  }
    .audio-header{
    	padding-top: 100px;
    }
    .audio-content-blok{
	margin-top:30px;
	margin-bottom: -2px;
	}
	audio{
		width: 94%;
	}
	.player{
		margin-bottom: 22px;
	}
	.description{
		font-size: 2vw;
	}

	.slider-background{
		padding-top:50px;
		padding-bottom: 0px;
	}
	#prev-btn, #next-btn {
    width: 4%;
    height: 10%;
  }
  .slide-nav-btn {
    display: none;
  }
  #prev-next-btns{
  	display: none;
  }
  .image-header{
	font-size: 28px;
	padding-top: 50px;
	padding-bottom: 20px;
  }
  #block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0px;
  }


.price-title{
	font-size: 20px;
	padding: 70px 0 40px 0;
}
.price-mix-track{
	font-size: 16px;
}
.price-mix-track-left{
	font-size: 12px;
}
.price-item-center{
	font-size: 16px;
	padding-top: 10px;
	padding-left: 20px;
}
.price-center{
	font-size: 12px;
	padding-left: 8%;
}
.price-production-inst{
	font-size: 16px;
	padding-top: 0px;
}
.price-production-inst-i{
	font-size: 12px;
}
.price-production-min{
	font-size: 16px;
	padding-top: 20px;
	padding-left: 6%;
	padding-bottom: 40px;
}
.price-mastering{
	font-size: 16px;
}
.price-mastering-i{
	font-size: 12px;
}
.sub-text{
	font-size: 16px;
	text-align: center;
	padding: 20px;
	letter-spacing: 0.2px;
	line-height: 1.4;
}
.price-btn{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
 }
 .block-news-title{
  	font-size: 4vw;
  	padding-top: 8%;
  	padding-bottom: 8%;
  }
  .block-news-left, .block-news-right{
	width: 36vw;
	height: 42vw; 
  }
  .block-news-text{
	font-size: 2vw;
	padding-top: 10%;
	padding-bottom: 10%;
  }
  .block-news-left img {
  	width: 30vw;
  	height: 20vw;
  }
  .block-news-right img{
  	width: 30vw;
  	height: 22vw;
  }
  .block-news{
	padding-bottom: 10%;
  }



  .contact-block{
	display: flex;
	flex-direction:column;
}

.contact-block-left{
	width: 100%;
}
.contact-time{
	font-family: $base-font-b;
	text-align: center;
	font-size: 4.5vw;
	font-weight:600;
	line-height: 1.2;
	letter-spacing: 1.0px;
	padding-top:80px;
}
.all-day{
	font-family: $base-font-b;
	text-align: center;
	font-size: 4.0vw;
	font-weight:800;
	line-height: 1.2;
	letter-spacing: 2px;
	padding-top:40px;
}


.contact-contact-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 4.0vw;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 2px;
	padding-top:40px;
	padding-left: 5%;
	padding-bottom: 5px	
}
.contact-contact{
	padding-left: 2%;
}
.contact-connect{
	font-family: $base-font-b;
	text-align:center;
	font-size: 3.4vw;
	font-weight:800;
	line-height: 1.5;
	letter-spacing: 2px;
	padding-left:10px;
}
a.vk{
	margin: 0;
	padding:0;
	color: black;
}
a.vk:hover{
	color:#373833;
}

.contact-block-right{
	width: 100%;
}
.address-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 4vw;
	font-weight:800;
	line-height: 2.0;
	letter-spacing: 0px;
	padding-top:30px;
	padding-bottom:10px;
}
.address{
	font-family: $base-font-b;
	font-size: 3.2vw;
	font-weight:800;
	line-height: 1.0;
	letter-spacing: 7px;
	padding-left: 10%;
	padding-bottom: 40px;
}
iframe{
	max-width:96%;
}

}


@media screen and (max-width:340px){
	.container{
  	width: 92%;
  }
	.menu{
  	display: none;
  }
  .logo{
	width: 56vw;
	margin-top: 30px;
  }
  .logo-slogan-background{
  	margin: 0;
  }
  .slogan{
  	font-size: 3vw;
  	margin-top: 20px;
  	padding-bottom: 20px;
  }
  button.btn-style{
  	height: 40px;
	width: 96%;
  }
  .about-btn{
	padding-top: 5%;
	}
	.about-blok{
	margin-top: 14px;
	margin-bottom: 0px;
  }
  .about-text{
	font-size: 14px;
	padding:12px ;
  }
      .audio-header{
    	padding-top: 15px;
    }
    .audio-content-blok{
	margin-top:20px;
	margin-bottom: -2px;
	}
	audio{
		width: 94%;
	}
	.player{
		margin-bottom: 10px;
	}
	.description{
		font-size: 2vw;
	}
	#prev-btn, #next-btn {
    width: 4%;
    height: 10%;
  }
  .slide-nav-btn {
    display: none;
  }
  #prev-next-btns{
  	display: none;
  }
  .image-header{
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 0px;
  }
    #block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 0px;
  }
.price-title{
	font-size: 16px;
	padding: 25px 0 25px 0;
}
.price-mix-track{
	font-size: 14px;
	padding-bottom: 10px;
}
.price-mix-track-left{
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 0.2px;
}
.price-item-center{
	font-size: 14px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom:10px;
}
.price-center{
	font-size: 12px;
	padding-left: 8%;
	line-height: 1.2;
	letter-spacing: 0.2px;
	padding-bottom:20px;
}
.price-production-inst{
	font-size: 14px;
	padding-top: 0px;
}
.price-production-inst-i{
	font-size: 12px;
}
.price-production-min{
	font-size: 14px;
	padding-top: 0px;
	padding-left: 6%;
	padding-bottom: 20px;
}
.price-mastering{
	font-size: 14px;
}
.price-mastering-i{
	font-size: 12px;
}
.sub-text{
	font-size: 14px;
	text-align: center;
	padding: 20px;
	letter-spacing: 0.2px;
	line-height: 1.2;
}
.price-btn{
	text-align: center;
	padding-top: 0px;
	padding-bottom: 20px;
 }
.block-news-title{
  	font-size: 4vw;
  	padding-top: 8%;
  	padding-bottom: 8%;
  }
  .block-news-left, .block-news-right{
	width: 36vw;
	height: 42vw; 
  }
  .block-news-text{
	font-size: 2vw;
	padding-top: 10%;
	padding-bottom: 10%;
  }
  .block-news-left img {
  	width: 30vw;
  	height: 20vw;
  }
  .block-news-right img{
  	width: 30vw;
  	height: 22vw;
  }
  .block-news{
	padding-bottom: 10%;
  }
  .contact-block{
	display: flex;
	flex-direction:column;
}

.contact-block-left{
	width: 100%;
}
.contact-time{
	font-family: $base-font-b;
	text-align: center;
	font-size: 4.5vw;
	font-weight:600;
	line-height: 1.2;
	letter-spacing: 1.0px;
	padding-top:30px;
}
.all-day{
	font-family: $base-font-b;
	text-align: center;
	font-size: 4.0vw;
	font-weight:800;
	line-height: 1.2;
	letter-spacing: 2px;
	padding-top:40px;
}


.contact-contact-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 4.0vw;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 2px;
	padding-top:40px;
	padding-left: 5%;
	padding-bottom: 5px	
}
.contact-contact{
	padding-left: 2%;
}
.contact-connect{
	font-family: $base-font-b;
	text-align:center;
	font-size: 3.4vw;
	font-weight:800;
	line-height: 1.5;
	letter-spacing: 2px;
	padding-left:10px;
}
a.vk{
	margin: 0;
	padding:0;
	color: black;
}
a.vk:hover{
	color:#373833;
}

.contact-block-right{
	width: 100%;
}
.address-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 4vw;
	font-weight:800;
	line-height: 2.0;
	letter-spacing: 0px;
	padding-top:30px;
	padding-bottom:10px;
}
.address{
	font-family: $base-font-b;
	font-size: 3.2vw;
	font-weight:800;
	line-height: 1.0;
	letter-spacing: 7px;
	padding-left: 10%;
	padding-bottom: 40px;
}
iframe{
	max-width:96%;
}

}


@media screen and (max-width:280px){
	.logo{
	width: 40vw;
	margin-top: 15px;
  }
   .slogan{
  	font-size: 3vw;
  	margin-top: 10px;
  }
  button.btn-style{
  	font-size: 5vw;
  	height: 40px;
  }
  .about-blok{
	margin-top: 5%;
	margin-bottom: 0px;
  }
  .about-text{
	font-size: 5vw;
	padding:3%;
  }
  .audio-header{
  	font-size: 8vw;
  }
.audio-content-blok{
	display: flex;
	 flex-direction: column;
	justify-content: center;
	text-align: center;
}

  #prev-btn, #next-btn {
    width: 4%;
    height: 10%;
  }
  .slide-nav-btn {
    display: none;
  }
  #prev-next-btns{
  	display: none;
  }
  .image-header{
	font-size: 10vw;
  }
    #block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 0px;
  }


.price-title{
	font-size: 9vw;
	padding: 20px 0 25px 0;
}
.price-mix-track{
	font-size: 6vw;
	padding-bottom: 6px;
}
.price-mix-track-left{
	font-size: 4vw;
	line-height: 1;
	letter-spacing: 0px;
	padding-bottom:15px;
}
.price-item-center{
	font-size: 6vw;
	padding-top: 0px;
	padding-left: 6%;
	padding-bottom:10px;
}
.price-center{
	font-size: 4vw;
	padding-left: 6%;
	line-height: 1;
	letter-spacing: 0px;
	padding-bottom:15px;
}
.price-production-inst{
	font-size: 6vw;
	padding-left: 6%;
	padding-bottom:15px;
}
.price-production-inst-i{
	font-size: 4vw;
}
.price-production-min{
	font-size: 6vw;
	padding-top: 0px;
	padding-left: 6%;
	padding-bottom: 20px;
}
.price-production-min-i{
	font-size:4vw;
}
.price-mastering{
	font-size: 6vw;
}
.price-mastering-i{
	font-size: 4vw;
}
.sub-text{
	font-size: 6vw;
	padding-left: 6%;
	letter-spacing: 0.1px;
	line-height: 1;
}
.price-btn{
	text-align: center;
	padding-top: 0px;
	padding-bottom: 15px;
 }

.block-news-title{
  	font-size: 4vw;
  	padding-top: 8%;
  	padding-bottom: 8%;
  }
  .block-news-left, .block-news-right{
	width: 36vw;
	height: 42vw; 
  }
  .block-news-text{
	font-size: 2vw;
	padding-top: 10%;
	padding-bottom: 10%;
  }
  .block-news-left img {
  	width: 30vw;
  	height: 20vw;
  }
  .block-news-right img{
  	width: 30vw;
  	height: 22vw;
  }
  .block-news{
	padding-bottom: 10%;
  }
  .contact-block{
	display: flex;
	flex-direction:column;
}

.contact-block-left{
	width: 100%;
}
.contact-time{
	font-family: $base-font-b;
	text-align: center;
	font-size: 4.5vw;
	font-weight:600;
	line-height: 1.2;
	letter-spacing: 1.0px;
	padding-top:30px;
}
.all-day{
	font-family: $base-font-b;
	text-align: center;
	font-size: 4.0vw;
	font-weight:800;
	line-height: 1.2;
	letter-spacing: 2px;
	padding-top:40px;
}


.contact-contact-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 4.0vw;
	font-weight:800;
	line-height: 1.3;
	letter-spacing: 2px;
	padding-top:40px;
	padding-left: 5%;
	padding-bottom: 5px	
}
.contact-contact{
	padding-left: 0%;
}
.contact-connect{
	font-family: $base-font-b;
	text-align:center;
	font-size: 2.2vw;
	font-weight:800;
	line-height: 1.5;
	letter-spacing: 0px;
	padding-left:0px;
}
a.vk{
	margin: 0;
	padding:0;
	color: black;
}
a.vk:hover{
	color:#373833;
}

.contact-block-right{
	width: 100%;
}
.address-title{
	font-family: $base-font-b;
	text-align:center;
	font-size: 4vw;
	font-weight:800;
	line-height: 2.0;
	letter-spacing: 0px;
	padding-top:30px;
	padding-bottom:10px;
}
.address{
	font-family: $base-font-b;
	text-align:center;
	font-size: 3.2vw;
	font-weight:800;
	line-height: 1.0;
	letter-spacing: 0px;
	padding-bottom: 40px;
}
iframe{
	max-width:96%;
}
}










/*   СТИЛИ СЛАЙДЕРА 1  */
/*
.slider {
	
 z-index: 9;
 width: 990px;
 height: 400px;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 }
 .slider .ul-sl,
 .slider .li-sl {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider .ul-sl {
 width: 9999px; 
 }
 .slider .ul-sl .li-sl {
 list-style-type: none;
 float: left;
 width: 990px;
 height: 400px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 12px; 
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }
 */



 